<section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">
						<h2>Get in touch</h2>
						<i class="fa fa-2x fa-angle-down"></i>

						</div>
					</div>
				</div>
			</div>
			</div>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-lg-2 col-lg-offset-5">
					<hr class="marginbot-50">
				</div>
			</div>
		    <div class="row">
		        <div class="col-lg-8">
		            <div class="boxed-grey">
		                <form method="POST" id="contact-form" action="//formspree.io/gaotx88@gmail.com" name="sentMessage" id="contactForm" novalidate>
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label for="name">
		                                Name</label>
		                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name *" required data-validation-required-message="Please enter your name." />
		                        </div>
		                        <div class="form-group">
		                            <label for="email">
		                                Email Address</label>
		                            <div class="input-group">
		                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
		                                </span>
		                                <input type="email" class="form-control" name="_replyto" id="email" placeholder="Enter email *" required data-validation-required-message="Please enter your email address." /></div>
		                        </div>
		                        <div class="form-group">
		                            <label for="subject">
		                                Phone</label>
		                            <input type="tel" class="form-control" placeholder="Your Phone (Optional)" id="phone" />
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label for="name">
		                                Message</label>
		                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
		                                placeholder="Message *"></textarea>
		                        </div>
		                    </div>
		                    <div class="col-md-12">
		                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
		                            Send Message</button>
		                    </div>
		                </div>
		                </form>
		            </div>
		        </div>
				
				<!--<div class="col-lg-4">
					<div class="widget-contact">
						<h5>Main Office</h5>
						
						<address>
						  <strong>Squas Design, Inc.</strong><br>
						  Tower 795 Folsom Ave, Beautiful Suite 600<br>
						  San Francisco, CA 94107<br>
						  <abbr title="Phone">P:</abbr> (515) 708-7378
						</address>

						<address>
						  <strong>Email</strong><br>
						  <a href="mailto:#">gaotx88@gmail.com</a>
						</address>					
					
					</div>	
				</div>-->
		    </div>	

		</div>
	</section>