<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<script src="{{ "/js/jquery.easing.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollTo.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js " | prepend: site.baseurl }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ "/js/custom.js " | prepend: site.baseurl }}"></script>
<!-- MathJax.js -->

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>